$blue: #2e5bff;
$base: #eaeeff;
$gray: #8798ad;
$lightGray: lighten($gray, 10);

.lui-list-container {
  padding: 0.6em;

  .lui-toolbar,
  .lui-list {
    border-radius: 0.5em;
    box-shadow: 0 0 0.3em $gray;
    background-color: white;
  }

  .lui-toolbar {
    height: 3em;
    margin-bottom: 0.8em;
    display: flex;

    .lui-search {
      flex: 1;
      margin: auto;
      padding: 5px;

      input {
        width: 100%;
        box-sizing: border-box;
        background-color: inherit;
        border: none;
        height: 2.2em;
        padding: 0 0.4em;

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: $gray;
        }
      }
    }

    .lui-icon {
      display: flex;
      transition: 0.4s;
      cursor: pointer;
      width: 3em;
      border-left: 1px solid $base;

      &:hover {
        background-color: $blue;
        color: white;
      }

      &:last-child {
        border-radius: 0 0.5em 0.5em 0;
      }
    }
  }

  &.lui-rtl .lui-icon {
    border-left: unset;
    border-right: 1px solid $base;

    &:last-child {
      border-radius: 0.5em 0 0 0.5em;
    }
  }

  .lui-list {
    list-style: none;
    padding: 0;
    margin: 0;
    height: calc(100% - 1.1em);
    overflow: auto;
    position: relative;
    z-index: 1;

    li {
      border-bottom: 1px solid $base;
      height: 2em;
      padding: 0.4em 1em;
      display: flex;

      &.lui-item-overlay {
        background-color: $base;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
        transition: 0.4s;
      }

      div {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: default;
      }
    }
  }

  &.lui-gray {
    .lui-toolbar,
    .lui-list {
      background-color: $gray;
      box-shadow: unset;
      color: white;
    }

    .lui-toolbar {
      .lui-search input {
        color: white;

        &::placeholder {
          color: $base;
        }
      }

      .lui-icon {
        border-left-color: $lightGray;
      }
    }

    &.lui-rtl .lui-toolbar .lui-icon {
      border-left-color: unset;
      border-right-color: $lightGray;
    }

    .lui-list li {
      border-bottom-color: $lightGray;

      &.lui-item-overlay {
        background-color: $lightGray;
      }
    }
  }

  &.lui-toolbar .lui-list {
    height: calc(100% - 4.9em);
  }
}
